{% extends "!layout.html" %}

{% block extrahead %}
{{ super() }}
<!-- JSON-LD metadata for GeoCODES integration -->
<!-- Following Science on Schema.org (SOS) best practices: https://github.com/ESIPFed/science-on-schema.org -->
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@id": "https://akpetty.github.io/icey_ecosystems/",
  "@type": "SoftwareSourceCode",
  "name": "icey_ecosystems",
  "description": "Estimating under-ice photosynthetically active radiation (PAR) across the Arctic by coupling ICESat-2 sea ice thickness and snow depth with ERA5 cloud cover in a Beer-Lambert light transmission model.",
  "url": "https://akpetty.github.io/icey_ecosystems/",
  "codeRepository": "https://github.com/akpetty/icey_ecosystems",
  "programmingLanguage": "Python",
  "keywords": [
    "Arctic",
    "sea ice",
    "ICESat-2",
    "ERA5",
    "under-ice PAR",
    "light transmission",
    "Beer-Lambert",
    "sea ice thickness",
    "snow depth",
    "melt ponds",
    "phytoplankton",
    "ice algae",
    "EarthCube",
    "DeCODER",
    "Geoscience"
  ],
  "creator": [
    {
      "@type": "Person",
      "name": "Alek Petty"
    }
  ],
  "datePublished": "2026-01-01",
  "dateModified": "2026-03-17",
  "license": "https://opensource.org/licenses/MIT",
  "publisher": {
    "@type": "Organization",
    "name": "EarthCube"
  },
  "funder": {
    "@type": "Organization",
    "name": "National Science Foundation (NSF)"
  }
}
</script>
{% endblock %}
